option_settings:
    aws:elasticbeanstalk:application:environment:
        PORT: 8081
        TZ: America/Sao_Paulo
        NODE_ENV: dev
        MONGO_URI: mongodb://api-cupom-dev:!URfCkASVz9%26k!Gf5!c7XxDO@3.81.203.206:10018,52.23.215.108:10018,54.205.253.207:10018/admin?replicaSet=digitalRS&readPreference=primary
        MONGO_DATABASE: api-cupom
